{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<audio src="/static/images/logo/cat-purr.mp3" autoplay loop></audio>

<div class="text-center">
    <div class="vertical-center">
        <br>
        <p><a href="/new_post">Share</a> your photos with CatApp</p>
        <br>
        <p> P.S. </p>
        <p> This page may be updated later </p>
        <br>
        <img src="/static/images/logo/giphy_cat2.gif" height="400" alt="">
        <br>
        <br>
        <h6 class="text-center"> DjangoGramm by Valerii Vasylenko</h6>
    </div>
</div>

{% endblock %}
