{% extends 'base.html' %}
{% block title %} Confirmation {% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <br>
            {% if form.errors %}
            <p>Error, check:</p>
            <ul>
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="confirmation_key">Your email address must be verified to use this site</label>
                    <label for="confirmation_key">A verification key has been sent to your email address, enter the code
                        here:</label>
                    <input type="text" id="confirmation_key" name="confirmation_key" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark">Підтвердити</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
