{% extends 'base.html' %}

{% load static %}

{% block content %}
<h3 class="card-title">{{ post.title }}</h3>
<p class="card-text"><small class="text-muted">{{ post.description}}</small></p>
<div class="container">
    <form method="post" action="{% url 'post' pk=post.id %}">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" name="is_liked" value="True" class="btn btn-success">Like: {{ likes_count }}</button>
            <button type="submit" name="is_disliked" value="False" class="btn btn-danger">Dislike: {{ dislikes_count }}
            </button>
        </div>
    </form>

</div>
<br>
{% for tag in tags %}
<h5>{{ tag.tag }}</h5>

{% endfor %}
<br>
{% for image in images %}
<img class="d-block w-100" src="/static/images/{{ image.image }}" alt="oops">

{% endfor %}

{% endblock %}
