{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Registration</h2>

            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" id="email"
                           name="email" required>
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="username">Nickname:</label>
                    <input type="text" class="form-control{% if form.username.errors %} is-invalid{% endif %}"
                           id="username" name="username" required>
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password1">Password:</label>
                    <input type="password" class="form-control{% if form.password1.errors %} is-invalid{% endif %}"
                           id="password1" name="password1" required>
                    {% for error in form.password1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be at least 8 characters long, contain at least one uppercase letter, one
                        lowercase letter, and one digit, and should not be too similar to your email address or
                        username.
                    </small>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm password:</label>
                    <input type="password" class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                           id="password2" name="password2" required>
                    {% for error in form.password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <small id="password2HelpBlock" class="form-text text-muted">
                        Please enter the same password as above.
                    </small>
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
            <br>
        </div>
    </div>
</div>

{% endblock %}
